{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="container">
      <div id="carouselAuto" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="6000">
            <div class="container">
              <img src="{% static 'img/img1.jpeg' %}" class="carouselimg" alt="...">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <div class="container">
              <img src="{% static 'img/img2.jpeg' %}" class="carouselimg" alt="...">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <div class="container">
              <img src="{% static 'img/img3.jpeg' %}" class="carouselimg" alt="...">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAuto" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAuto" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
{% endblock %}

{% block contact %}{% endblock %}
{% block footer %}{% endblock %}