{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Seccion de pedidos -->
<main class="blogs-main">
    <section class="posts">
        <h3>Pedidos pendientes</h3>
        {% for pedido in pedidos %}
        <div class="posts-blog">
            <img src="{{pedido.imagen.url}}" alt="imagen">
            <h4>{{pedido.fecha}}</h4>
            <h5>{{pedido.cliente}}</h5>
            <p class="pedido-descripcion">{{pedido.decoracion}}</p>
            <a class="blogs-btn" href="{% url 'pedido' pedido.id %}">Leer más</a>
            <a class="blogs-btn" href="{% url 'completado' pedido.id %}">Finalizado</a>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
{% block contact %}{% endblock %}

